<div class="list">

    @foreach (var e in _list)
    {

        <EasyLogService.Components.ListElement Content=@e.Content/>
    }

</div>

@code {
    private int _count = 10;
    public List<ListElement> _list = new List<ListElement>(100);

    public void Add(string elementContent)
    {

        _list.Add(new ListElement(elementContent));

        base.InvokeAsync(StateHasChanged);
    }
}
