
<style>
    .loglist:nth-of-type(odd) { background-color: rgba(221, 221, 221, 0.2); }
</style>

<div class="loglist defpadding" style="width: auto; overflow: hidden">
    <div class="listelement ml-2 defpadding" style="width: auto; float: left; color:blue ">@ContentDateTime</div>
    <div class="listelement ml-3 defpadding" style="width: 75%; float: left;">@ContentLogOutput</div>
    <div name="contentlogtype" class="listelement ml-2 defpadding mr-2" style="width:auto; float: left; color:@ContentLogTypeColor">@ContentLogType</div>
</div>


@code {

    [Parameter]
    public DateTimeOffset ContentDateTime { get; set; }

    [Parameter]
    public string ContentLogOutput { get; set; }

    [Parameter]
    public string ContentLogType { get; set; }

    public string ContentLogTypeColor
    {
        get
        {
            switch (ContentLogType)
            {
                case "stderr" : return "red";
                case "EASYLOG": return "darkred";
                default: return "green";
            }
        }
    }

    public ListElement()
    {
    }

    public void Set(DateTimeOffset time, string output, string logtype)
    {
        ContentDateTime = time;
        ContentLogOutput = output;
        ContentLogType = logtype;
    }

}
