<div class="list">

    @foreach (var e in _list)
    {

        <EasyLogService.Components.ListElement Content=@e.Content/>
    }

</div>

@code {
    private int _count = 10;
    public List<ListElement> _list = new List<ListElement>(100);

    public void Set(List<ListElement> newList, Refresh refresh)
    {
        _list = newList;
        if (refresh == Refresh.ImmediatelyRefresh)
            base.InvokeAsync(StateHasChanged);
    }


    public void Add(string elementContent, Refresh refresh)
    {

        _list.Add(new ListElement(elementContent));
        if (refresh == Refresh.ImmediatelyRefresh)
            base.InvokeAsync(StateHasChanged);

    }
}
