<div style="width: 100%; overflow: hidden;padding: 0.05rem 0.1rem 0.1rem 0.05rem">
    <div class="listelement" style="width: 15%; display: table-cell; float: left;">@ContentDateTime</div>
    <div class="listelement" style="width: 75%; display: table-cell; float: left;">@ContentLogOutput</div>
    <div class="listelement" style="width: 10%; display: table-cell; float: left;">@ContentLogType</div>
</div>

@code {
    private string _elementContent = "hello my element";

    [Parameter]
    public DateTimeOffset ContentDateTime { get; set; }

    [Parameter]
    public string ContentLogOutput { get; set; }

    [Parameter]
    public string ContentLogType { get; set; }

    public ListElement()
    {
    }

    public void Set(DateTimeOffset time, string output, string logtype)
    {
        ContentDateTime = time;
        ContentLogOutput = output;
        ContentLogType = logtype;
    }

}
