@page "/searchfield"
<input @bind-value="_text" @bind-value:event="oninput" @onkeyup="NewInput" />
<p>You entered: @_text</p>
<p>By Event: @_searchText</p>
<p>Completed = @_completed</p>



@code {

    string _searchText = String.Empty;
    private string _text = String.Empty;
    private bool _completed;


    private void NewInput()
    {
        _searchText = _text;
        OnSearchQueryChange(_searchText);
        StateHasChanged();

        //MainList.Add("hello");

    }

    public Func<string, bool> OnSearchQueryChange;
}
