@page "/searchfield"
<input @bind-value="_text" @bind-value:event="oninput" @onkeyup="NewInput" />
<p>You entered: @_text</p>
<p>By Event: @_searchText</p>
<p>Completed = @_completed</p>

@inject IMediator  _mediator;
@using EasyLogService.Commands;


@code {

    string _searchText = String.Empty;
    private string _text = String.Empty;
    private bool _completed; 


    private async Task NewInput()
    {
        _searchText = _text;
        await _mediator.Send(new SearchRequest(_searchText));
    }
}
