@*@page "/searchfield"*@


    <div class="input-group defpadding" >
        <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
        </div>
        <input type="text" aria-label="Search text"  @bind-value="_text" @bind-value:event="oninput" @onkeyup="NewInput" class="form-control"/>
    </div>



@code {

    private string _text = String.Empty;


    private void NewInput()
    {
        OnSearchQueryChange(_text);
        StateHasChanged();

        //MainList.Add("hello");

    }

    public Action<string> OnSearchQueryChange;
}
