@page "/mainlayout"
@inherits LayoutComponentBase


<div class="main">
    <div>
        <EasyLogService.Components.SearchField @ref="SearchField" />
    </div>
    <div name="MainList" style="background:yellow;height:10px">
        <EasyLogService.Components.List @ref="_mainList" />
    </div>
    @*<div class="content px-4">
            @Body
        </div>*@
</div>

@inject ISearchCommand  _searchCommand;
@using EasyLogService.Commands;


@code
{
    EasyLogService.Components.SearchField searchField;
    EasyLogService.Components.SearchField SearchField
    {
        get
        {
            return searchField;
        }

        set
        {
            searchField = value;
            InitSearchField();
        }
    }
    EasyLogService.Components.List _mainList;

    void Completed(string query)
    {
        _mainList.Add(query);
    }

    void InitSearchField()
    {
        searchField.OnSearchQueryChange = (query) =>
        {
            Send(query, (query) => Completed(query));
        };
    }

    bool Send(string query, Action<string> completed)
    {
        var t = Task.Run(async () => await _searchCommand.Search(new SearchRequest(query), completed));
        return true;
    }

}