@page "/mainlayout"
@inherits LayoutComponentBase


<div class="main">
    <div>
        <EasyLogService.Components.SearchField @ref="SearchField" />
    </div>
    <div>Entries: @numEntries</div>
    <div name="MainList" style="background:yellow;height:10px">
        <EasyLogService.Components.List @ref="_mainList" />
    </div>
    @*<div class="content px-4">
            @Body
        </div>*@
</div>

@using EasyLogService.Commands;
@using EasyLogService.Services.CentralLogService;
@using Microsoft.Extensions.Configuration;
@inject ISearchCommand  _searchCommand;
@inject IConfiguration  _configuration;


@code
{
    int numEntries = 0;




    int _maxResultLines = 0; // Specifies how many results in log lines will be returned by each query

    EasyLogService.Components.SearchField searchField;

    protected override void OnInitialized()
    {
        _maxResultLines = _configuration.GetValue<int>("MaxLogQueryResultLines");
    }

    EasyLogService.Components.SearchField SearchField
    {
        get
        {
            return searchField;
        }

        set
        {
            searchField = value;
            InitSearchField();
        }
    }
    EasyLogService.Components.List _mainList;

    void Completed(KubernetesLogEntry[] logEntries)
    {
        List<EasyLogService.Components.ListElement> list = new List<EasyLogService.Components.ListElement>();

        foreach (var queryResult in logEntries)
        {
            var e = new EasyLogService.Components.ListElement();

            e.Set(queryResult.Time, queryResult.Log, queryResult.Stream);
            list.Add(e);
        }
        _mainList.Set(list, Refresh.ImmediatelyRefresh);
        numEntries = list.Count;
        base.InvokeAsync(StateHasChanged);

    }

    void InitSearchField()
    {
        searchField.OnSearchQueryChange = (query) =>
        {
            Send(query, (query) => Completed(query));
        };
    }

    bool Send(string query, Action<KubernetesLogEntry[]> completed)
    {
        var t = Task.Run(() => _searchCommand.Search(new SearchRequest(query, _maxResultLines), completed));
        return true;
    }

}