@page "/mainlayout"
@inherits LayoutComponentBase


    <div class="main">
        <div>
            <EasyLogService.Components.SearchField @ref="SearchField" />
        </div>
        <div>Entries: @numEntries</div>
        <div name="MainList" style="background:yellow;height:10px">
            <EasyLogService.Components.List @ref="_mainList" />
        </div>
        @*<div class="content px-4">
            @Body
        </div>*@
    </div>

@inject ISearchCommand  _searchCommand;
@using EasyLogService.Commands;
@using EasyLogService.Services;


@code
{
    int numEntries = 0;
    EasyLogService.Components.SearchField searchField;
    EasyLogService.Components.SearchField SearchField
    {
        get
        {
            return searchField;
        }

        set
        {
            searchField = value;
            InitSearchField();
        }
    }
    EasyLogService.Components.List _mainList;

    void Completed(KubernetesLogEntry[] logEntries)
    {
        List<EasyLogService.Components.ListElement> list = new List<EasyLogService.Components.ListElement>();

        foreach (var queryResult in logEntries)
        {
            var e = new EasyLogService.Components.ListElement();
            e.Content = queryResult.log;
            list.Add(e);
        }
        _mainList.Set(list, Refresh.ImmediatelyRefresh);
        numEntries = list.Count;
        base.InvokeAsync(StateHasChanged);

    }

    void InitSearchField()
    {
        searchField.OnSearchQueryChange = (query) =>
        {
            Send(query, (query) => Completed(query));
        };
    }

    bool Send(string query, Action<KubernetesLogEntry[]> completed)
    {
        int maxResults = 100;
        var t = Task.Run(() => _searchCommand.Search(new SearchRequest(query, maxResults), completed));
        return true;
    }

}