<style>
    .loglist:nth-of-type(odd) {
        background-color: #dddddd;
        background-color: rgba(221, 221, 221, 0.2);
    }
</style>

@* ReSharper disable UnknownCssClass *@
<div class="loglist defpadding" style="width: auto; overflow: hidden">
    <div class="listelement ml-2 defpadding" style="width: auto; float: left; color:blue ">@ContentDateTime</div>
    <div class="listelement ml-3 defpadding" style="width: 15%; float: left;">@ContentLogContainer</div>
    <div class="listelement ml-3 defpadding" style="width: 60%; float: left;">@ContentLogOutput</div>
    <div name="contentlogType" class="listelement ml-2 defpadding mr-2" style="width:auto; float: left; color:@ContentLogTypeColor">@ContentLogType</div>
</div>

@code {

    [Parameter]
    public DateTime ContentDateTime { get; set; }

    [Parameter]
    public string ContentLogOutput { get; set; }

    [Parameter]
    public string ContentLogContainer { get; set; }

    [Parameter]
    public string ContentLogType { get; set; }

    public string ContentLogTypeColor
    {
        get
        {
            switch (ContentLogType)
            {
                case "stderr": return "red";
    // ReSharper disable StringLiteralTypo
                case "EASYLOG": return "darkred";
                default: return "green";
            }
        }
    }

    public void Set(DateTimeOffset time, string output, string logType, string container)
    {
        ContentDateTime = new DateTime(time.Ticks);
        ContentLogOutput = output;
        ContentLogType = logType;

        var cont = LogEntries.KubernetesContainerNameTools.DeserializeContainerName(container);

        ContentLogContainer = cont.containerName;
    }

}